USE [master]
GO
/****** Object:  Database [PredskolskaUstanovaDW]    Script Date: 13.01.2018. 09:31:45 ******/
CREATE DATABASE [PredskolskaUstanovaDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TESTdb', FILENAME = N'D:\SQL Server\Data\TESTdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TESTdb_log', FILENAME = N'D:\SQL Server\Log\TESTdb_log.ldf' , SIZE = 3200KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PredskolskaUstanovaDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PredskolskaUstanovaDW]
GO
USE [PredskolskaUstanovaDW]
GO
/****** Object:  Table [dbo].[DimDatum]    Script Date: 13.01.2018. 09:31:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDatum](
	[DatumID] [int] IDENTITY(1,1) NOT NULL,
	[DatumAltID] [date] NOT NULL,
	[Godina] [int] NOT NULL,
	[Mjesec] [int] NOT NULL,
 CONSTRAINT [PK_DimDatum] PRIMARY KEY CLUSTERED 
(
	[DatumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimGrupa]    Script Date: 13.01.2018. 09:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimGrupa](
	[GrupaID] [int] IDENTITY(1,1) NOT NULL,
	[GrupaAltID] [int] NOT NULL,
	[Naziv] [nvarchar](30) NOT NULL,
	[StarosnaDob] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_DimGrupa_1] PRIMARY KEY CLUSTERED 
(
	[GrupaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLokacija]    Script Date: 13.01.2018. 09:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLokacija](
	[LokacijaID] [int] IDENTITY(1,1) NOT NULL,
	[LokacijaAltID] [int] NOT NULL,
	[Grad] [nvarchar](50) NOT NULL,
	[Drzava] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimLokacija_1] PRIMARY KEY CLUSTERED 
(
	[LokacijaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPlanProgram]    Script Date: 13.01.2018. 09:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPlanProgram](
	[PlanProgramID] [int] IDENTITY(1,1) NOT NULL,
	[PlanProgramAltID] [int] NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimPlanProgram] PRIMARY KEY CLUSTERED 
(
	[PlanProgramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSocijalnoStanje]    Script Date: 13.01.2018. 09:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSocijalnoStanje](
	[SocijalnoStanjeID] [int] IDENTITY(1,1) NOT NULL,
	[SocijalnoStanjeAltID] [int] NOT NULL,
	[Kategorija] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimSocijalnoStanje] PRIMARY KEY CLUSTERED 
(
	[SocijalnoStanjeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSpecijalnaPotreba]    Script Date: 13.01.2018. 09:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSpecijalnaPotreba](
	[SpecijalnaPotrebaID] [int] IDENTITY(1,1) NOT NULL,
	[SpecijalnaPotrebaAltID] [int] NOT NULL,
	[TipPotrebe] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimSpecijalnaPotreba_1] PRIMARY KEY CLUSTERED 
(
	[SpecijalnaPotrebaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSpol]    Script Date: 13.01.2018. 09:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSpol](
	[SpolKey] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_SpolKey] PRIMARY KEY CLUSTERED 
(
	[SpolKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactUpisDjece]    Script Date: 13.01.2018. 09:31:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactUpisDjece](
	[UpisDjeceID] [int] IDENTITY(1,1) NOT NULL,
	[DatumID] [int] NOT NULL,
	[GrupaID] [int] NOT NULL,
	[LokacijaID] [int] NOT NULL,
	[PlanProgramID] [int] NOT NULL,
	[SocijalnoStanjeID] [int] NOT NULL,
	[SpecijalnaPotrebaID] [int] NOT NULL,
	[SpolKey] [nvarchar](1) NOT NULL,
	[UkupnoUpisano] [int] NOT NULL,
 CONSTRAINT [PK_FactUpisDjece] PRIMARY KEY CLUSTERED 
(
	[UpisDjeceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DimDatum] ON 

INSERT [dbo].[DimDatum] ([DatumID], [DatumAltID], [Godina], [Mjesec]) VALUES (1, CAST(N'2013-01-01' AS Date), 2013, 1)
INSERT [dbo].[DimDatum] ([DatumID], [DatumAltID], [Godina], [Mjesec]) VALUES (2, CAST(N'2013-01-02' AS Date), 2013, 1)
INSERT [dbo].[DimDatum] ([DatumID], [DatumAltID], [Godina], [Mjesec]) VALUES (3, CAST(N'2013-01-04' AS Date), 2013, 1)
GO
SET IDENTITY_INSERT [dbo].[DimDatum] OFF
SET IDENTITY_INSERT [dbo].[DimGrupa] ON 

INSERT [dbo].[DimGrupa] ([GrupaID], [GrupaAltID], [Naziv], [StarosnaDob]) VALUES (1, 1, N'Pčelice I', N'Od 1. do 3. godine')
INSERT [dbo].[DimGrupa] ([GrupaID], [GrupaAltID], [Naziv], [StarosnaDob]) VALUES (2, 2, N'Bubamare I', N'Od 3. do 4. godine')
INSERT [dbo].[DimGrupa] ([GrupaID], [GrupaAltID], [Naziv], [StarosnaDob]) VALUES (3, 3, N'Ribice I', N'Od 4. do 5. godine')
SET IDENTITY_INSERT [dbo].[DimGrupa] OFF
SET IDENTITY_INSERT [dbo].[DimLokacija] ON 

INSERT [dbo].[DimLokacija] ([LokacijaID], [LokacijaAltID], [Grad], [Drzava]) VALUES (1, 1, N'Sarajevo', N'Bosna i Hercegovina')
INSERT [dbo].[DimLokacija] ([LokacijaID], [LokacijaAltID], [Grad], [Drzava]) VALUES (2, 2, N'Mostar', N'Bosna i Hercegovina')
INSERT [dbo].[DimLokacija] ([LokacijaID], [LokacijaAltID], [Grad], [Drzava]) VALUES (3, 3, N'Vareš', N'Bosna i Hercegovina')
GO
SET IDENTITY_INSERT [dbo].[DimLokacija] OFF
SET IDENTITY_INSERT [dbo].[DimPlanProgram] ON 

INSERT [dbo].[DimPlanProgram] ([PlanProgramID], [PlanProgramAltID], [Naziv]) VALUES (1, 1, N'Primarni program')
INSERT [dbo].[DimPlanProgram] ([PlanProgramID], [PlanProgramAltID], [Naziv]) VALUES (2, 2, N'Kraći program')
INSERT [dbo].[DimPlanProgram] ([PlanProgramID], [PlanProgramAltID], [Naziv]) VALUES (3, 3, N'Specijalizovani program')
SET IDENTITY_INSERT [dbo].[DimPlanProgram] OFF
SET IDENTITY_INSERT [dbo].[DimSocijalnoStanje] ON 

INSERT [dbo].[DimSocijalnoStanje] ([SocijalnoStanjeID], [SocijalnoStanjeAltID], [Kategorija]) VALUES (1, 1, N'Izuzetno loše')
INSERT [dbo].[DimSocijalnoStanje] ([SocijalnoStanjeID], [SocijalnoStanjeAltID], [Kategorija]) VALUES (2, 2, N'Loše')
INSERT [dbo].[DimSocijalnoStanje] ([SocijalnoStanjeID], [SocijalnoStanjeAltID], [Kategorija]) VALUES (3, 3, N'Prosječno')
SET IDENTITY_INSERT [dbo].[DimSocijalnoStanje] OFF
SET IDENTITY_INSERT [dbo].[DimSpecijalnaPotreba] ON 

INSERT [dbo].[DimSpecijalnaPotreba] ([SpecijalnaPotrebaID], [SpecijalnaPotrebaAltID], [TipPotrebe]) VALUES (1, 0, N'Nema specijalne potrebe')
INSERT [dbo].[DimSpecijalnaPotreba] ([SpecijalnaPotrebaID], [SpecijalnaPotrebaAltID], [TipPotrebe]) VALUES (2, 1, N'oštećenje vida')
INSERT [dbo].[DimSpecijalnaPotreba] ([SpecijalnaPotrebaID], [SpecijalnaPotrebaAltID], [TipPotrebe]) VALUES (3, 2, N'oštećenje sluha')
SET IDENTITY_INSERT [dbo].[DimSpecijalnaPotreba] OFF
INSERT [dbo].[DimSpol] ([SpolKey]) VALUES (N'M')
INSERT [dbo].[DimSpol] ([SpolKey]) VALUES (N'N')
INSERT [dbo].[DimSpol] ([SpolKey]) VALUES (N'Ž')
SET IDENTITY_INSERT [dbo].[FactUpisDjece] ON 

INSERT [dbo].[FactUpisDjece] ([UpisDjeceID], [DatumID], [GrupaID], [LokacijaID], [PlanProgramID], [SocijalnoStanjeID], [SpecijalnaPotrebaID], [SpolKey], [UkupnoUpisano]) VALUES (1, 616, 1, 19, 4, 3, 1, N'M', 3)
INSERT [dbo].[FactUpisDjece] ([UpisDjeceID], [DatumID], [GrupaID], [LokacijaID], [PlanProgramID], [SocijalnoStanjeID], [SpecijalnaPotrebaID], [SpolKey], [UkupnoUpisano]) VALUES (2, 729, 6, 80, 2, 1, 5, N'M', 1)
INSERT [dbo].[FactUpisDjece] ([UpisDjeceID], [DatumID], [GrupaID], [LokacijaID], [PlanProgramID], [SocijalnoStanjeID], [SpecijalnaPotrebaID], [SpolKey], [UkupnoUpisano]) VALUES (3, 617, 1, 3, 2, 2, 1, N'M', 3)
GO
SET IDENTITY_INSERT [dbo].[FactUpisDjece] OFF
ALTER TABLE [dbo].[FactUpisDjece]  WITH CHECK ADD  CONSTRAINT [FK_FactUpisDjece_DimDatum_DatumID] FOREIGN KEY([DatumID])
REFERENCES [dbo].[DimDatum] ([DatumID])
GO
ALTER TABLE [dbo].[FactUpisDjece] CHECK CONSTRAINT [FK_FactUpisDjece_DimDatum_DatumID]
GO
ALTER TABLE [dbo].[FactUpisDjece]  WITH CHECK ADD  CONSTRAINT [FK_FactUpisDjece_DimGrupa_GrupaID] FOREIGN KEY([GrupaID])
REFERENCES [dbo].[DimGrupa] ([GrupaID])
GO
ALTER TABLE [dbo].[FactUpisDjece] CHECK CONSTRAINT [FK_FactUpisDjece_DimGrupa_GrupaID]
GO
ALTER TABLE [dbo].[FactUpisDjece]  WITH CHECK ADD  CONSTRAINT [FK_FactUpisDjece_DimLokacija_LokacijaID] FOREIGN KEY([LokacijaID])
REFERENCES [dbo].[DimLokacija] ([LokacijaID])
GO
ALTER TABLE [dbo].[FactUpisDjece] CHECK CONSTRAINT [FK_FactUpisDjece_DimLokacija_LokacijaID]
GO
ALTER TABLE [dbo].[FactUpisDjece]  WITH CHECK ADD  CONSTRAINT [FK_FactUpisDjece_DimPlanProgram_PlanProgramID] FOREIGN KEY([PlanProgramID])
REFERENCES [dbo].[DimPlanProgram] ([PlanProgramID])
GO
ALTER TABLE [dbo].[FactUpisDjece] CHECK CONSTRAINT [FK_FactUpisDjece_DimPlanProgram_PlanProgramID]
GO
ALTER TABLE [dbo].[FactUpisDjece]  WITH CHECK ADD  CONSTRAINT [FK_FactUpisDjece_DimSocijalnoStanje_SocijalnoStanjeID] FOREIGN KEY([SocijalnoStanjeID])
REFERENCES [dbo].[DimSocijalnoStanje] ([SocijalnoStanjeID])
GO
ALTER TABLE [dbo].[FactUpisDjece] CHECK CONSTRAINT [FK_FactUpisDjece_DimSocijalnoStanje_SocijalnoStanjeID]
GO
ALTER TABLE [dbo].[FactUpisDjece]  WITH CHECK ADD  CONSTRAINT [FK_FactUpisDjece_DimSpecijalnaPotreba_SpecijalnaPotrebaID] FOREIGN KEY([SpecijalnaPotrebaID])
REFERENCES [dbo].[DimSpecijalnaPotreba] ([SpecijalnaPotrebaID])
GO
ALTER TABLE [dbo].[FactUpisDjece] CHECK CONSTRAINT [FK_FactUpisDjece_DimSpecijalnaPotreba_SpecijalnaPotrebaID]
GO
ALTER TABLE [dbo].[FactUpisDjece]  WITH CHECK ADD  CONSTRAINT [FK_FactUpisDjece_DimSpol_SpolKey] FOREIGN KEY([SpolKey])
REFERENCES [dbo].[DimSpol] ([SpolKey])
GO
ALTER TABLE [dbo].[FactUpisDjece] CHECK CONSTRAINT [FK_FactUpisDjece_DimSpol_SpolKey]
GO
USE [master]
GO
